<p>players works!</p>
<div class="input-group my-4">
  <input
    type="text"
    class="form-control"
    placeholder="Find Players by Name"
    #filter
    (keyup)="update(filter.value)"
  />
  <button
    type="button"
    class="btn btn-light"
    (click)="update(''); filter.value = ''"
  >X</button>
</div>

<ul *ngIf="players$ | async as players; else loading">
  <li *ngFor="let player of players">
    <a [routerLink]="['/profile', player.id]" [appOnlineStatus]="player.online">{{ player.name }}</a>
  </li>
</ul>

<ng-template #loading>
  <p class="my-4">Lodaing&hellip;</p>
</ng-template>
