
<div *ngIf="isLoading"><mat-spinner></mat-spinner></div>

<div *ngIf="!isLoading"
  class="container course-component-container"
  [webCourseBorderStyle]="course?.creatingDate"
  [ngClass]="{ topRatedCourse: course?.topRated }"
>
<h2 *ngIf="isEdit">{{ "edit.course" | translate }}</h2>
<h2 *ngIf="!isEdit">{{ "add.course" | translate }}</h2>
  <form
    class="align-items-center"
    [formGroup]="courseForm"
    (ngSubmit)="onFormSubmit()"
  >
    <div class="row p-4">
      <div class="col-12 my-2">
        <label for="courseTitle" class="form-label input-label">{{
          "course.title" | translate
        }}</label>
        <p class="float-end required">*{{ "required" | translate }}</p>
        <input
          type="text"
          class="form-control"
          id="courseTitle"
          formControlName="courseTitle"
        />
      </div>
      <div class="col-12 my-2">
        <label for="courseDescription" class="form-label input-label">{{
          "course.description" | translate
        }}</label>
        <p class="float-end required">*{{ "required" | translate }}</p>
        <textarea
          rows="5"
          cols="33"
          class="form-control"
          id="courseDescription"
          formControlName="courseDescription"
        ></textarea>
      </div>
      <div class="col-12 my-2">
        <label for="courseDuration" class="form-label input-label">{{
          "course.duration" | translate
        }}</label>
        <p class="float-end required">*{{ "required" | translate }}</p>
        <input
          type="number"
          class="form-control"
          id="courseDuration"
          formControlName="courseDuration"
        />
      </div>
      <div class="col-12 my-2">
        <label for="courseCreatingDate" class="form-label input-label">{{
          "course.creating.date" | translate
        }}</label>
        <p class="float-end required">*{{ "required" | translate }}</p>
        <input
          type="date"
          class="form-control"
          id="courseCreatingDate"
          formControlName="courseCreatingDate"
        />
      </div>
      <div class="col-12 my-2 d-flex justify-content-end align-items-center">
        <button [disabled]="!courseForm.valid" type="submit" class="btn btn-secondary me-3">
          {{ "cancel" | translate }}
        </button>
        <button [disabled]="!courseForm.valid" type="submit" class="btn btn-success">
          {{ "submit" | translate }}
        </button>
      </div>
    </div>
    <a (click)="backToCourses()" tabindex="0" href="javascript:void(0);">{{
      "back.to.courses" | translate
    }}</a>
  </form>
</div>
