<h2>My Heroes</h2>
<div class="filter-container">
  <label id="filterLabel" for="filterInput" class="sr-only hidden"
    >Filter Heroes</label
  ><br /><br />
  <input
    type="text"
    id="filterInput"
    class="filter-input"
    placeholder=""
    #filter
    (keyup)="updateFilter(filter.value)"
  />
  <button
    class="clear-btn"
    type="button"
    (click)="updateFilter(''); filter.value = ''"
  >
    Reset List
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
    <span class="badge">{{ hero.id }}</span
    ><span [innerHtml]="hero.name | highlightSearch: filter.value"></span>
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ selectedHero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name" />
  </div>
</div>
