<div>
    <div class="modal-header d-flex justify-content-between">
      <h4 class="modal-title" id="modal-title">{{modalTitle}}</h4>
      <button type="button" class="close btn btn-light" aria-label="Close" (click)="close(closeAction)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p id="modal-message">{{modalMessage}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close(closeAction)">{{closeTitle}}</button>
      <button type="button" class="btn btn-primary" (click)="close(saveAction)">{{saveTitle}}</button>
    </div>
  </div>
