<h1>Product Page</h1>
<div id="product-box">
    <div>
        <h2> Title:</h2>
        <h3>{{product.title}}</h3>
    </div>
    <div>
        <h2> Price:</h2>
        <h3>{{product.price}}</h3>
    </div>
    <div>
        <h2> Description:</h2>
        <h3>{{product.description}}</h3>
    </div>
    <div>
        <h2> Category:</h2>
        <h3>{{product.category}}</h3>
    </div>
    <div>
        <h2> Image:</h2>
        <h3><img [src]=product.image width="250px" height="250px"></h3>
    </div>

</div>