/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header Style */
.header-bg {
  background-color: #303240;
  height: 60px;
}

.logo-container {
  width: fit-content;
  margin-left: 80px;
}
.oval {
  box-sizing: border-box;
  height: 28px;
  width: 28px;
  margin-top: 15px;
}

.video-course {
  color: #ffffff;
  font-size: 18px;
  font-family: "SourceSansPro-Bold";
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  width: fit-content;
  margin-left: 8px;
  margin-top: 15px;
  text-decoration: none;
}
.login-logout {
  margin-right: 40 px;
}

/* Login page */
.form-container {
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1),
    0 2px 10px 0 rgba(29, 30, 38, 0.15);
  height: 400px;
  width: 450px;
  padding: 20px;
}

.login-label {
  color: #333333;
  font-size: 24px;
  font-family: "SourceSansPro-Semibold";
  text-transform: none;
  text-align: left;
  font-weight: 600;
  height: 31px;
  width: 58px;
}
.required {
  color: #474a59;
  font-family: "SourceSansPro-Regular";
  text-transform: none;
  text-align: left;
  margin: 0;
}

.input-label {
  color: #474a59;
  font-family: "SourceSansPro-Semibold";
  text-transform: none;
  text-align: left;
  font-weight: 600;
  margin: 0;
}

.forgot-password {
  color: #5681ee;
  font-family: "SourceSansPro-Regular";
  text-transform: none;
  text-align: left;
  text-decoration: single;
  margin: 0;
}

.wrong-e-mail-or-pass {
  color: #ff4e33;
  font-size: 12px;
  font-family: "SourceSansPro-Regular";
  text-transform: none;
  text-align: left;
  margin: 0;
}

/* Footer Style */
.footer-bg {
  background-color: #303240;
  height: 60px;
}

.copyright-videocourse {
  color: #ffffff;
  font-size: 12px;
  font-family: "SourceSansPro-Regular";
  text-transform: none;
  text-align: left;
  margin: 0;
}

/* Courses Page */
.courses-title {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.courses-header-title {
  color: #464a5a;
  font-family: "SourceSansPro-Bold";
  text-align: left;
  font-weight: 700;
  margin: 0;
}

.courses-content {
  height: 75vh;
  border: 1px solid black;
}
.load-more-container {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1),
    0 2px 10px 0 rgba(29, 30, 38, 0.15);
  height: 36px;
  width: 100%;
}

/* Course Detail Component */
.course-component-container {
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1),
    0 2px 10px 0 rgba(29, 30, 38, 0.15);
  width: 100%;
  padding: 30px;
  margin: 40px 0px 30px 0px;
}
