.error-message {
    border: 1px solid red;
    border-radius: 10px;
    padding: 8px 0 8px 8px;
    margin-top: 2px;
    font-size: medium;
    background-color: rgb(182, 52, 52);
    color: white;
}