<div class="container course-component-container">
  <div class="row mb-3">
    <div class="col-9 col-s-12 d-flex justify-content-start align-items-center">
      <h3>{{ course.title }}</h3>
    </div>
    <div
      class="col-3 col-s-12 d-flex justify-content-center align-items-center"
    >
      <span class="me-3">{{ course.duration }} min </span>
      <span class="me-4 ms2">{{ course.creatingDate }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-9 col-s-12 d-flex justify-content-start align-items-center">
      <p>
        {{ course.description }}
      </p>
    </div>
    <div
      class="col-3 col-s-12 d-flex justify-content-center align-items-center"
    >
      <button
        type="button"
        class="btn btn-warning btn-sm me-3"
        (click)="editCourse(course)"
      >
        Edit
      </button>
      <button
        type="button"
        class="btn btn-danger btn-sm me-4 ms-2"
        (click)="deleteCourse(course)"
      >
        Delete
      </button>
    </div>
  </div>
</div>
