<div class="container mb-3">
  <div class="row courses-title py-2">
    <p class="courses-header-title">{{ "courses" | translate }}</p>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div
          class="
            col-12 col-md-6
            d-flex
            justify-content-start
            align-items-center
          "
        >
          <form class="d-flex justify-content-start align-items-center py-1">
            <div class="">
              <label for="searchCourse" class="visually-hidden">{{
                "search.course" | translate
              }}</label>
              <input
                #searchInput
                type="test"
                class="form-control"
                id="searchCourse"
                placeholder="{{ 'type.to.search' | translate }}"
                (keyup)="searchCourseOnKeyup($event)"
              />
            </div>
            <div class="ms-3">
              <button
                type="submit"
                class="btn btn-primary"
                (click)="searchCourse($event, searchInput.value)"
              >
                {{ "search" | translate }}
              </button>
            </div>
          </form>
        </div>

        <div
          class="
            col-12 col-md-6
            d-flex
            justify-content-start justify-content-md-end
            align-items-end
            py-1
          "
        >
          <button type="button" class="btn btn-primary btn-lg">
            {{ "add.course" | translate }}
          </button>
          <div class="dropdown ms-3">
            <button
              class="btn btn-success btn-lg dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ "order.by" | translate }}
            </button>
            <ul class="dropdown-menu bg-success text-center" aria-labelledby="dropdownMenuButton1">
              <li>
                <button class="dropdown-item" (click)="orderBy('asc')">ASC</button>
              </li>
              <li>
                <button class="dropdown-item" (click)="orderBy('desc')" >DESC</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <web-course-componenet
        (deleteACourse)="deleteCourse($event)"
        [course]="course"
        *ngFor="let course of courses | orderBy:orderByOption | filterPipe: filterText"
        [titleFilter]="course.title | highlightSearch: filterText"
      ></web-course-componenet>
      <div class="col-12 load-more-container">
        <a href="">{{ "load.more" | translate }}</a>
      </div>
    </div>
  </div>
</div>
